<div style="text-align: center;" id="burger" class="container">
    <div><img src="https://images.vexels.com/media/users/3/152411/isolated/preview/4a22d435331dde73ae0f1cebbdbaacff-double-burger-icon-by-vexels.png" alt=""></div>
    <h1 style="color: #d32f2f">Eat-Da-Burger!</h1>
    <div>
        <textarea style="width: 50%; height: 100px; margin-top: 60px" name="" id="createBurger" cols="30" rows="10"></textarea>
    </div>
    <button type="submit" style="margin-top: 10px;" class="btn btn-primary">Submit</button>
    <div style="margin-top: 10px;">Enter a burger you want to eat Click the "Submit" button.</div>
</div>

<script src="/js/createBurger.js"></script>